@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Kosugi+Maru|M+PLUS+Rounded+1c|Noto+Sans+JP|Poppins|Sawarabi+Mincho&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
}

html, body {
  padding: 0px;
  margin: 0px;
  font-family: "Poppins", "Kosugi Maru", "M PLUS Rounded 1c", "Noto Sans Japanese", sans-serif;
  font-weight: 300;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 48px;
  -webkit-box-shadow: 0px 0px 10px 0px #aaa;
          box-shadow: 0px 0px 10px 0px #aaa;
}

header p#cls {
  font-size: 32px;
  text-align: center;
}

p.splitter {
  width: 100%;
  margin: 8px;
  border: 0.5px solid #ccc;
}

main {
  min-height: 100vh;
  padding: 16px;
  padding-top: 64px;
  overflow: hidden;
  text-align: center;
}

main input {
  font-size: 24px;
  text-align: center;
  border: 0;
  border-bottom: 1px solid #aaa;
  outline: 0;
}

main input:not(:valid) {
  border-bottom: 1px solid #f00;
}

main .container {
  position: relative;
  width: 100%;
}

main .container:not(.showing) {
  display: none !important;
}

main .container footer {
  position: fixed;
  bottom: 0;
  left: 0;
  display: -ms-grid;
  display: grid;
      grid-template-areas: ". . txt . ." "pr . txt . btn" ". . txt . .";
  -ms-grid-rows: 1fr auto 1fr;
      grid-template-rows: 1fr auto 1fr;
  -ms-grid-columns: auto 1fr auto 1fr auto;
      grid-template-columns: auto 1fr auto 1fr auto;
  width: 100%;
  height: auto;
  padding: 8px;
  -webkit-box-shadow: 0px 0px 10px 0px #aaa;
          box-shadow: 0px 0px 10px 0px #aaa;
}

main .container footer button {
  font-size: 18px;
  background-color: #fff;
  border: 0px;
  border-bottom: 1px solid #aaa;
  outline: 0;
}

main .container footer button:hover {
  background-color: #eee;
}

main .container footer button:disabled {
  color: #000;
  border: 0;
}

main .container footer button:disabled:hover {
  background-color: #fff;
}

main .container footer button#next {
  -ms-grid-row: 2;
  -ms-grid-column: 5;
  grid-area: btn;
}

main .container footer button#prev {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: pr;
}

main .container#cash div {
  width: 300px;
  margin: 16px auto;
  font-size: 22px;
}

main .container#cash div input {
  width: 100px;
}

main .container#cash div p {
  display: inline;
}

main .container#cash p#sum {
  margin: 16px;
  font-size: 24px;
}

main .container#cash p#sum::after {
  content: "円のお支払い";
}

main .container#cash button {
  max-width: 400px;
}

main .container#pay div {
  width: 300px;
  margin: 16px auto;
  font-size: 22px;
}

main .container#pay div input {
  width: calc(100% - 16px);
}

main .container#pay div p {
  display: inline;
}

main .container#pay p#sum {
  margin: 16px;
  font-size: 24px;
}

main .container#pay p#sum::after {
  content: "円のお支払い";
}

main .container#pay div.material {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 300px;
  height: 48px;
  padding: 5px;
  margin: 20px auto;
  margin-bottom: 4px;
  border: 1px #aaa solid;
  border-radius: 3px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

main .container#pay div.material * {
  outline: 0;
}

main .container#pay div.material p.msg {
  display: none;
}

main .container#pay button {
  max-width: 400px;
}

main .container#menu .item {
  display: -ms-grid;
  display: grid;
      grid-template-areas: ". ico _name . price num total .";
  -ms-grid-rows: 48px;
      grid-template-rows: 48px;
  -ms-grid-columns: 1fr 64px auto 100px auto 64px auto 1fr;
      grid-template-columns: 1fr 64px auto 100px auto 64px auto 1fr;
  width: 100%;
  height: 48px;
  margin: 16px;
  gap: 8px;
}

main .container#menu .item p {
  margin: auto;
  font-size: 24px;
}

main .container#menu .item img {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: ico;
  width: 48px;
  height: 48px;
  padding: 6px;
  border-radius: 50%;
  -webkit-box-shadow: 0px 0px 10px 0px #aaa;
          box-shadow: 0px 0px 10px 0px #aaa;
}

main .container#menu .item p.name {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: _name;
}

main .container#menu .item p.price {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
  grid-area: price;
}

main .container#menu .item p.price::before {
  content: "￥";
}

main .container#menu .item p.price::after {
  font-size: 16px;
  content: " x";
}

main .container#menu .item input {
  -ms-grid-row: 1;
  -ms-grid-column: 6;
  grid-area: num;
}

main .container#menu .item p.total {
  -ms-grid-row: 1;
  -ms-grid-column: 7;
  grid-area: total;
}

main .container#menu .item p.total::before {
  content: "個 = ￥";
}

main .container#menu footer p.sum {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 3;
  grid-area: txt;
  font-size: 32px;
}

main .container#menu footer p.sum::before {
  content: "計 ￥";
}

main .container#method .methodContainer {
  display: -ms-grid;
  display: grid;
      grid-template-areas: ". . . ." ". c p ." ". . . .";
  -ms-grid-rows: 40px 1fr 40px;
      grid-template-rows: 40px 1fr 40px;
  -ms-grid-columns: 40px 1fr 1fr 40px;
      grid-template-columns: 40px 1fr 1fr 40px;
  min-height: 500px;
  gap: 24px;
}

main .container#method .methodContainer div {
  display: -ms-grid;
  display: grid;
      grid-template-areas: ". . ." ". i ." ". . .";
  -ms-grid-rows: 1fr max-content 1fr;
      grid-template-rows: 1fr -webkit-max-content 1fr;
      grid-template-rows: 1fr max-content 1fr;
  -ms-grid-columns: 1fr max-content 1fr;
      grid-template-columns: 1fr -webkit-max-content 1fr;
      grid-template-columns: 1fr max-content 1fr;
  width: 100%;
  height: 100%;
  border-radius: 24px;
  -webkit-box-shadow: 0px 0px 10px 0px #aaa;
          box-shadow: 0px 0px 10px 0px #aaa;
}

main .container#method .methodContainer div p {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: i;
  font-size: 2.4vw;
}

main .container#method .methodContainer div:hover {
  background-color: #eee;
  -webkit-box-shadow: inset 0px 0px 10px 0px #aaa;
          box-shadow: inset 0px 0px 10px 0px #aaa;
}

main .container#method .methodContainer div:hover p {
  font-size: 2.2vw;
}

main .container#method .methodContainer div#cash {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: c;
}

main .container#method .methodContainer div#pay {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: p;
}
/*# sourceMappingURL=style.css.map */